<log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern
                value="%d{yyyy-MM-dd HH:mm:ss.fff} lvl=%-5level %property{RequestHeaders} %m thrd=[%thread] lgr=%-40.40logger{39} %n" />
        </layout>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="ConsoleAppender" />
    </root>
</log4net>